.exams {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 20px;
  align-items: center;
  background-color: crimson;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}
.exams a {
  text-align: center;
  align-self: center;
  color: crimson;
  background-color: white;
  border-radius: 4px;
  padding: 8px 4px;
  text-decoration: none;
}
.container span {
  display: block;
  font-size: 28px;
}
